@import url('https://rsms.me/inter/inter.css');


@tailwind base;

@tailwind components;

@tailwind utilities;

.el-loading-spinner {
@apply flex justify-center;
}

.leaflet-default-icon-path {
  background-image: url('/images/vendor/leaflet/dist/marker-icon.png');
}

.leaflet-default-shadow-path {
  background-image: none
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}